
*{  margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:NONE;
   
 
}
.container{
    background-color: rgb(7, 130, 134);
    text-align:center;
    font-family:'rebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 195, 255);
    display: flex;

    }

  
.caja{
    width: 200px;
    height: 400px;
    padding:2rem;
    margin-top:5rem;
    margin-right: 1rem;
    margin-bottom: 20rem;
    margin-left: 1.3rem;
    
    border-bottom :20px;
    border-bottom-color: black;
    border-top: 20px solid rgb(88, 7, 68);
    border-left: 15px solid yellow;
    border-right: 3px solid white;
    font-size:2.5rem;


}

header { 
    overflow:hidden;
    background-image:url(/img/prueba2.jpg);
    background-size:cover;
    background-position:center;
    height:320px;
    background-repeat:no-repeat;

}

h1{ 
text-align: center;
font-family:sans-serif;
color: rgba(255, 255, 255, 0.37);
font-size: 90px;
text-shadow: 11px 5px 7px rgb(52, 161, 66)

}

/*  subemenu y menu  */
.linksContainer{
  font-family:fantasy;
  list-style:none; /* truco por el uso de inline-block*/
  font-size: 0;   /* se agrega siempre truco para que funcione el menu horzontal */
  margin: 2px ; /* flebox(lo nuevo para poner horizontal elementos,cajas,menu */
 background-color: rgba(42, 61, 19, 0.589);
 font-weight: bolder;
 text-shadow: 3px 1px 5px;

}
   


.linksContainer li { 
    display: inline-block;/* para menu */
    width: 20%;
    
    position: relative;/* para menu */
    font-size: 16px;/* se agrega para menu */
    text-align:center;/* se arega para menu */
    text-decoration: rgb(221, 212, 212);

 }

 .submenu {
    position:absolute;
    display:none;
}
.submenu li {
    display: block;
}
.linksContainer li:hover ul {  /* HOVER MUESTRA LOS SUBITEMS PASANDO EL MAUSE POR ESO DISPLAY:BLCOK */
    display:inline;
    padding: 0.4rem;
}

.uno{
    background-color: blue;

}
.dos{
    background-color: yellow; 
    
}
.tres{
    background-color: red;
}
.cuatro{
    background-color: blueviolet;
}
.cinco{
    background-color: brown;
}
.seis{
    background-color: rgb(7, 12, 12);
}
.siete{
    background-color:coral;
}
.ocho{
    background-color:darkmagenta;

}
.irAPie{
padding: 0px;
font-family: fantasy;
background-color: rgb(158, 150, 150);
font-style: oblique;
position: absolute;
top: 18rem;
}




footer{
background-color: rgb(161, 152, 152);
color: white;
padding: 1px;
}

footer irArriba{
font-family:Arial, Helvetica, sans-serif solid;
color:rgb(16, 186, 216);


}

/*  FORMULARIO PRACTICO CON MATIAS */
.inputsContainer{
 background-color: rgba(42, 61, 19, 0.589);
display: flex;

gap:10px;
width: 1rem;

}

.inputContainer{
display: flex;
flex-direction: column;
width: 12rem;


}
input{
    width: 9rem;
}




.menu li:hover ul {
    display:block;
}




/*---------------------------- Formulario Con YANEL - - - ------ - -  */

.contacto{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.formulario{
    padding: 4rem;
    margin: 2rem;
    background-color: #E7E7E7;
    border-radius: 5px;
}

.formulario input, .formulario textarea, .formulario select{
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 1rem;
}
.fieldset, legend{
    border: none;
    
}
.checkbox{
    display: flex;

}
.checkbox input{
    width: 5%;
}

.boton_enviar{
    background-color: aqua;
    border-color: aqua;
    border-radius: 4px;
}
.boton_enviar:hover{
    background-color: blueviolet;
    border: 2px solid;
    border-color:blueviolet;
    font-size: 2rem;

}

/* Pseudoclases */
a:hover{ font-weight:bold; background-color:blue; color:white; text-decoration:underline; }
a:link{ text-decoration:none; color:red; }
a:visited{ color:#999999; }
a:active{ background-color:yellow; color:black; }


/* div:not(.padre){
    padding-left:40px;
    padding-right:40px;
} */


.padre div:nth-child(2){ font-weight:bold; color:orange; }

