.body{
background-color: ;

}

.header{

    background-color: red
}

.nav{
    background-color: green
}
.main{
    background-color:black
}
.section{
    background-color: yellow
}
.section-1{
    background-color: palevioletred
}
.section-2{
    background-color: white
}
.section-3{
    background-color: aqua
}
.aside{
    background-color: hotpink
}
.footer{
    background-color: mediumblue
}