
*{  margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
 
}
.container{
    background-color: rgb(7, 130, 134);
    text-align:center;
    font-family:'rebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 195, 255);
    display: flex;
    


}






.caja{
    width: 200px;
    height: 400px;
    padding:2rem;
    margin-top:5rem;
    margin-right: 1rem;
    margin-bottom: 20rem;
    margin-left: 1.3rem;
    
    border-bottom 20px;
    border-bottom-color: black;
    border-top: 20px solid rgb(88, 7, 68);
    border-left: 15px solid yellow;
    border-right: 3px solid white;
    font-size:2.5rem;

}

header { 
    overflow:hidden;
    background-image:url(/img/prueba2.jpg);
    background-size:cover;
    background-position:center;
    height:320px;
    background-repeat:no-repeat;
}

h1{ 
text-align: center;
font-family:sans-serif;
color: rgba(255, 255, 255, 0.37);
font-size: 90px;
text-shadow: 11px 5px 7px rgb(52, 161, 66)

}
.linksContainer{
    font-family:fantasy;
   margin: 2px ;
   display: flex;/* flebox(lo nuevo para poner horizontal elementos,cajas,menu */
   background-color: rgba(42, 61, 19, 0.589);
    font-weight: bolder;
    text-shadow: 3px 1px 5px;
    list-style:none;
    font-size: 1px;/* se agrega siempre truco para que funcione el menu horzontal */
}

li { display: inline-block;/* para menu */
    
    display: inline-block;
    width: 24%;
    position: relative;/* para menu */
    font-size: 16px;/* se agrega para menu */
    text-align:center;/* se arega para menu */
 text-decoration: rgb(168, 16, 16);

}









.uno{
    background-color: blue;

}
.dos{
    background-color: yellow; 
    
}
.tres{
    background-color: red;
}
.cuatro{
    background-color: blueviolet;
}
.cinco{
    background-color: brown;
}
.seis{
    background-color: rgb(7, 12, 12);
}
.siete{
    background-color:coral;
}
.ocho{
    background-color:darkmagenta;
}



